PUBLIC_APP_TITLE=""
PUBLIC_APP_DESCRIPTION=""
PUBLIC_APP_KEYWORDS=""
PUBLIC_APP_AUTHOR=""
PUBLIC_APP_URL=""
PUBLIC_SOCIAL_GITHUB=""
PUBLIC_SOCIAL_LINKEDIN=""
PUBLIC_SOCIAL_TWITTER=""
PUBLIC_META_OG_IMAGE="/logo.png"
